/* Background settings */
body, html {
    height: 100%;
    background-image: url("../img/FondoReg.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
}

/* Gradient and card styles */
.gradient-form {
    background: rgba(95, 94, 94, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gradient-custom {
    background: linear-gradient(to right, #232526, #414345);
}

.card {
    background: rgba(32, 32, 32, 0.9);
    border: none;
    border-radius: 1rem;
}

/* Form control styles */
.form-control {
    background: #333;
    border: 1px solid #555;
    border-radius: 0.5rem;
    color: #fff;
}

.form-control:focus {
    background: #444;
    border-color: #888;
}

.form-label {
    color: #aaa;
}

/* Button styles */
.btn-primary {
    background: #4e5d94;
    border: none;
}

.btn-primary:hover {
    background-color: #163a9d;
    border-color: #163a9d;
}

.btn-outline-danger {
    color: #ff6b6b;
    border-color: #ff6b6b;
}

.btn-outline-danger:hover {
    background: #ff6b6b;
    color: #fff;
}


/* Text link styles */
a.text-muted {
    color: #ffffff;
}

a.text-muted:hover {
    color: #f7f7f7;
}
