/* Estilos para las estrellas de rating */
.ratings .glyphicon {
    font-size: 18px;
    color: #FFD700; /* Color de las estrellas */
}

/* Estilos para el panel */
.panel {
    margin-top: 20px;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Sombra ligera */
}

.panel-title {
    font-weight: bold;
    text-align: center;
}

.panel-body {
    padding: 20px;
}

/* Estilos para la imagen del usuario */
.img-thumbnail {
    width: 200px; /* Tamaño de la imagen */
    border: 2px solid #ddd; /* Borde de la imagen */
    border-radius: 50%; /* Borde redondeado para una apariencia circular */
}

/* Estilos para la tabla de información de usuario */
.table-user-information td:first-child {
    width: 40%; /* Ancho de la columna de etiquetas */
    font-weight: bold; /* Texto en negrita para las etiquetas */
}
